#sidebar-wrapper {
  min-height: 100vh;
  width: 250px;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .list-group {
  width: 250px;
}

/* Responsive: En pantallas de menos de 768px (móviles) */
@media (max-width: 768px) {
  #sidebar-wrapper {
    margin-left: -250px; /* Se esconde a la izquierda */
  }

  /* Clase para mostrarlo cuando el usuario toque el botón */
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
}

.list-group-item {
  border: none;
}

.list-group-item:hover {
  background-color: #343a40 !important;
  color: #0d6efd !important;
}
